
@media(max-width:1100px){
  .why-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:650px){
  .why-grid{
    grid-template-columns:1fr;
  }
}



@media(max-width:768px){
  .faq{
    grid-template-columns:1fr;
  }
}



@media(max-width:767px){
  .home-cert-card img{
    width:110px;
  }
}


@media(max-width:768px){

  .homepage-statssection-stats{
    gap:12px;
  }
  
  .homepage-statssection-stats .homepage-stat-card{
    min-width:160px;
    padding:20px;
  }

  .homepage-statssection-stats .homepage-stat-card h2{
    font-size:32px;
  }
}



@media (max-width: 992px) {
  .consult-wrapper {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  .left-consult h1 {
    font-size: 46px;
  }
}




/* RESPONSIVE */
@media(max-width:900px){
  .service-page-hero-container,
  .service-page-below-the-counter-service-tabs{
    flex-direction:column;
  }

  .service-page-below-the-counter-tab-menu,
  .service-page-below-the-counter-tab-content{
    width:100%;
  }
}



@media(max-width:900px){
  .service-page-below-the-counter-service-tabs{
    flex-direction:column;
    padding:15px;
  }

  .service-page-below-the-counter-tab-menu,
  .service-page-below-the-counter-tab-content{
    width:100%;
    border-radius:20px;
  }

  .service-page-below-the-counter-tab-menu{
    margin-bottom:15px;
  }
}



/* TABLET */
@media(max-width:992px){
  .service-with-right-enginnering-service-page-hover-card-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

/* MOBILE */
@media(max-width:576px){
  .service-with-right-enginnering-service-page-hover-card-grid{
    grid-template-columns:1fr;
  }

  .service-with-right-enginnering-service-page-hover-card{
    height:auto;
  }

  .service-with-right-enginnering-service-page-hover-card img{
    height:220px;
  }

  .service-with-right-enginnering-service-page-card-hover{
    position:relative;
    opacity:1;
    transform:none;
    box-shadow:none;
  }

  .service-with-right-enginnering-service-page-card-front{
    position:relative;
    background:none;
    padding:16px;
  }
}




@media(max-width:900px){
  .unlock-limitless-scalability-service-page-scalability-box{
    flex-direction:column;
    padding:40px;
  }

  .unlock-limitless-scalability-service-page-scalability-content,
  .unlock-limitless-scalability-service-page-scalability-image{
    width:100%;
  }

  .unlock-limitless-scalability-service-page-scalability-step{
    font-size:80px;
    top:-30px;
  }
}


/* MOBILE */
@media(max-width:900px){
  .grow-with-you-service-page{
    height:auto;
    border-radius:25px;
  }

  .grow-with-you-service-page-content h2{
    font-size:28px;
  }
}
